<div class="row">
  <div class="col-sm-6 text-center">
    <div class="mb-3">
      <small><%= t(".your_account_balance") %></small>
      <%= display_amount current_user.account.amount %>
    </div>

    <%= link_to t(".make_transference"), "#", class: "btn btn-outline-warning", data: { "source-account-id" => current_user.account.id }, id: "getTransferenceFormLink" %>
  </div>
  <div class="col-sm-6">
    <%= render 'account_transferences_list', transferences: current_user.account.transferences %>
  </div>
</div>

<%= render "layouts/general_modal" %>
